@page
@model DevCapacityWebApp.Pages.IndexModel

@* Mostrar as tabs criadas para acesso rápido *@
@await Html.PartialAsync("_Tabs")

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Use the tabs above to manage Engineers and Teams.</p>
</div>
